@font-face {
  font-family: "Georgia Regular";
  src: url(../../fonts/Georgia_Regular.ttf);
}
@font-face {
  font-family: "Lora Bold";
  src: url("Lora-Bold.eot");
  src: local("Lora Bold"), local("Lora-Bold"), url("../../fonts/Lora-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lora-Bold.woff") format("woff"), url("../../fonts/Lora-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Lora SemiBold";
  src: url("Lora-Bold.eot");
  src: local("Lora Bold"), local("Lora-Bold"), url("../../fonts/Lora-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lora-Bold.woff") format("woff"), url("../../fonts/Lora-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lora Regular";
  src: url("Lora-Regular.eot");
  src: local("Lora Regular"), local("Lora-Regular"), url("../../fonts/Lora-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lora-Regular.woff") format("woff"), url("../../fonts/Lora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.b-header {
  min-height: 135px;
  max-width: 918px;
  width: 100%;
  position: relative;
}
@media (max-width: 767.98px) {
  .b-header {
    min-height: 115px;
  }
}
@media (max-width: 575.98px) {
  .b-header {
    min-height: 180px;
  }
}
.b-header__logo-and-slogan {
  position: absolute;
  top: 19px;
  left: 12px;
}
@media (max-width: 575.98px) {
  .b-header__logo-and-slogan {
    top: 60px;
    left: 0;
  }
}
.b-header__socials {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 15px 15px;
}
@media (max-width: 575.98px) {
  .b-header__socials {
    left: 0;
  }
}
.b-header__login-nav-list {
  position: absolute;
  right: 0;
  top: 80px;
}
@media (max-width: 767.98px) {
  .b-header__login-nav-list {
    top: 70px;
  }
}
@media (max-width: 575.98px) {
  .b-header__login-nav-list {
    top: 135px;
    left: 0;
  }
}

.b-logo-and-slogan__logo {
  font-size: 51px;
  font-variant: small-caps;
  margin-bottom: -3px;
}
@media (max-width: 767.98px) {
  .b-logo-and-slogan__logo {
    font-size: 40px;
    margin-bottom: 0;
  }
}
.b-logo-and-slogan__slogan {
  font-size: 13px;
  color: #999;
  padding-left: 5px;
}
@media (max-width: 575.98px) {
  .b-logo-and-slogan__slogan {
    padding-left: 0;
  }
}

.b-socials {
  max-width: 251px;
  width: 100%;
  min-height: 48px;
  background-color: #81b300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 13px 9px;
}
.b-socials__icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f1f1f;
  font-size: 16px;
  color: #fff;
  border-radius: 50%;
  transition-duration: 0.5s;
  cursor: pointer;
}
.b-socials__icon:hover {
  background: #00acee;
}

.b-login-nav__list {
  max-width: 253px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.b-login-nav__link {
  font-size: 12px;
  color: #81b300;
  transition-duration: 0.5s;
  font-family: "Lora Regular";
}
.b-login-nav__link:hover {
  color: #333;
}
.b-login-nav__divider {
  position: relative;
  color: #81b300;
  font-size: 13px;
  position: relative;
  top: -1px;
}
.b-login-nav__divider:not(last-child) {
  left: 3px;
}

.b-main-nav {
  background: #81b300;
  padding: 21px 29px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991.98px) {
  .b-main-nav {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 767.98px) {
  .b-main-nav {
    align-items: center;
  }
}
@media (max-width: 575.98px) {
  .b-main-nav {
    padding: 21px 12px 20px;
    align-items: flex-start;
  }
}
.b-main-nav-wrapper_cancel-padding {
  margin-left: -12px;
  margin-right: -12px;
}
.b-main-nav__list {
  max-width: 545px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-bottom: 0;
}
@media (max-width: 575.98px) {
  .b-main-nav__list {
    max-width: 320px;
    flex-wrap: wrap;
    -moz-column-gap: 35px;
         column-gap: 35px;
    justify-content: flex-start;
  }
}
@media (max-width: 350px) {
  .b-main-nav__list {
    justify-content: flex-start;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.b-main-nav__link {
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  transition-duration: 0.5s;
}
.b-main-nav__link:hover {
  color: #333;
  text-decoration: none;
}
@media (max-width: 991.98px) {
  .b-main-nav__site-search {
    margin-top: 15px;
  }
}

.b-site-search {
  height: 30px;
}
.b-site-search__field {
  max-width: 214px;
  width: 100%;
  border: none;
  outline: none;
  height: inherit;
  color: #999;
  padding: 7px 8px 8px;
  transition-duration: 0.5s;
}
.b-site-search__field-wrapper {
  float: left;
  height: inherit;
}
.b-site-search__field:focus {
  background: #eaffb3;
}
.b-site-search__field::-moz-placeholder {
  font-size: 12px;
}
.b-site-search__field::placeholder {
  font-size: 12px;
}
.b-site-search__btn {
  height: inherit;
  border: none;
  outline: none;
  color: #81b300;
  background: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1em;
  border-left: 1px solid #999;
  transition-duration: 0.5s;
}
.b-site-search__btn:hover {
  cursor: pointer;
  background: #999;
  color: #fff;
}

.b-main-page-slider-wrp {
  padding: 31px 31px 71px 31px;
  background: #f2f2f2;
}
@media (max-width: 575.98px) {
  .b-main-page-slider-wrp {
    padding: 12px 12px 71px 12px;
  }
}
.b-main-page-slider-wrp_bottom-border {
  border-bottom: 1px solid #e6e6e6;
}
.b-main-page-slider-wrp_cancel-padding {
  margin-left: -12px;
  margin-right: -12px;
}
.b-main-page-slider-wrp__slider {
  padding: 9px;
  background: #fff;
  box-shadow: 0 0 1px #e6e6e6;
}
.b-main-page-slider-wrp__bullets {
  position: absolute;
  bottom: -42px;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 156px;
  left: calc(50% - 78px);
  justify-content: space-between;
}
.b-main-page-slider-wrp__left, .b-main-page-slider-wrp__right {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #333;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  transition-duration: 0.5s;
}
.b-main-page-slider-wrp__left:hover, .b-main-page-slider-wrp__right:hover {
  transform: scale(1.2);
}
.b-main-page-slider-wrp__bullet {
  background: #333;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.b-main-page-slider-wrp__bullet:hover {
  background: transparent;
  border: 2px solid #333;
}

.b-property-unit {
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .b-property-unit {
    flex-basis: 50%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .b-property-unit_top-margin:nth-child(n+3) {
    margin-top: 15px;
  }
}
@media (max-width: 575.98px) {
  .b-property-unit_top-margin:nth-child(n+2) {
    margin-top: 15px;
  }
}
.b-property-unit__icon {
  font-size: 3.8rem;
  margin-bottom: 5px;
}
.b-property-unit__icon_users {
  color: #c45f4b;
}
.b-property-unit__icon_globe {
  color: #cf9d41;
}
.b-property-unit__icon_cogs {
  color: #3d5f12;
}
.b-property-unit__icon_leaf {
  color: #7da3b7;
}
.b-property-unit__head {
  padding: 15px 10px;
  color: #81b300;
  font-size: 18px;
  margin-bottom: 0.2rem;
}
.b-property-unit__desc {
  font-size: 13px;
  line-height: 151%;
  color: #999;
  padding: 0 5px;
}

.b-project-wrapper {
  padding-left: 0;
  padding-right: 0;
  max-width: 212px;
  width: 100%;
  min-height: 336px;
}
@media (max-width: 991.98px) {
  .b-project-wrapper {
    max-width: 48%;
  }
}
@media (max-width: 575.98px) {
  .b-project-wrapper {
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .b-project-wrapper_margin:nth-child(n+3) {
    margin-top: 30px;
  }
}
.b-project__image {
  width: 100%;
  min-height: 138px;
}
.b-project__name {
  font-size: 14px;
  line-height: 143%;
  margin: 18px 0 8px 0;
}
.b-project__desc {
  font-size: 13px;
  line-height: 162%;
  color: #999;
  margin-bottom: 6px;
}
.b-project__details {
  display: block;
  text-align: right;
  color: #81b300;
  font-size: 13px;
  line-height: 162%;
  transition-duration: 0.5s;
}
.b-project__details:hover {
  color: #333;
}

.b-footer {
  background: #484848;
  color: #999;
  padding: 38px 20px 20px 16px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .b-footer__unit:nth-child(n+3) {
    margin-top: 30px;
  }
}
@media (max-width: 575.98px) {
  .b-footer__unit:nth-child(n+2) {
    margin-top: 30px;
  }
}
.b-footer__unit-title {
  text-transform: uppercase;
  color: #666;
  margin-bottom: 22px;
  font-size: 13px;
}
.b-footer__unit-title_margin {
  margin-bottom: 17px;
}
.b-footer__unit-title_blog, .b-footer__unit-title_form {
  margin-bottom: 27px;
}
.b-footer__unit-title_form {
  color: #fff;
}
.b-footer__unit-contact-desc {
  font-size: 12px;
  line-height: 175%;
  margin-bottom: 19px;
  letter-spacing: 0.05em;
}
.b-footer__unit-address {
  font-size: 12px;
  line-height: 158%;
  letter-spacing: 0.07em;
}
.b-footer__unit-nav-item {
  width: 100%;
  padding: 8px 0 7.3px;
  font-size: 12px;
  letter-spacing: 0.03em;
  border-bottom: 1px solid rgba(153, 153, 153, 0.2);
}
.b-footer__unit-nav-item:hover {
  color: #81b300;
  text-decoration: none;
}
.b-footer__unit-nav-link {
  display: block;
  width: 100%;
  color: inherit;
  font-size: inherit;
  transition: all 0.4s ease 0s;
}
.b-footer__unit-nav-link:hover {
  color: #81b300;
}
.b-footer__unit-nav-link:active {
  color: #fff;
}

.b-blog {
  padding-right: 5px;
}
.b-blog__title {
  font-family: "Lora Bold", "Georgia Regular", serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 100.8%;
  letter-spacing: 0.07em;
  margin-bottom: 6px;
}
.b-blog__subtitle {
  font-family: "Lora Regular", "Georgia Regular", serif;
  font-size: 11px;
  letter-spacing: 0.06em;
  line-height: 118%;
}
.b-blog__text {
  font-family: "Lora Regular", "Georgia Regular", serif;
  font-size: 12px;
  line-height: 158%;
  letter-spacing: 0.03em;
}
.b-blog__link {
  display: block;
  text-align: right;
  width: 100%;
  color: #81b300;
  transition-duration: 0.5s;
  font-weight: 600;
  font-size: 12px;
}
.b-blog__link:hover {
  color: #fff;
}

.b-form {
  max-width: 210px;
  width: 100%;
}
.b-form:nth-child(2) {
  margin-bottom: 11px;
}
.b-form__input {
  display: block;
  padding: 5px 0px 6px 9px;
  background: #1f1f1f;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #999;
  margin-bottom: 10px;
  transition-duration: 0.5s;
}
.b-form__input::-moz-placeholder {
  font-family: "Lora Regular", serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.03em;
  color: #999;
}
.b-form__input::placeholder {
  font-family: "Lora Regular", serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.03em;
  color: #999;
}
.b-form__input:focus {
  color: #81b300;
  box-shadow: 0 0 0 2px #81b300;
}
.b-form__button {
  padding: 9px 10px 6px 10px;
  font-size: 13px;
  letter-spacing: 0.08em;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #1f1f1f;
  color: #81b300;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Lora SemiBold";
  transition-duration: 0.5s;
}
.b-form__button:hover {
  color: #fff;
  transform: scale(1.1);
}
.b-form__button:active {
  color: #fff;
  transform: scale(1.1);
}

.b-copirights {
  min-height: 60px;
  background-color: #2e2e2e;
  color: #999;
  line-height: 60px;
  padding: 0 28px;
  display: flex;
  flex-direction: row;
  padding-left: 16px;
  padding-right: 16px;
}
@media (max-width: 991.98px) {
  .b-copirights {
    flex-direction: column;
  }
}
.b-copirights__left, .b-copirights__right {
  max-width: 50%;
}
@media (max-width: 991.98px) {
  .b-copirights__left, .b-copirights__right {
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 400px) {
  .b-copirights__left, .b-copirights__right {
    padding-left: 0;
    padding-right: 0;
  }
}
.b-copirights__right {
  text-align: right;
}
@media (max-width: 991.98px) {
  .b-copirights__right {
    text-align: center;
  }
}
.b-copirights__text {
  font-size: 12px;
  line-height: inherit;
  letter-spacing: 0.03em;
  color: #737373;
}
@media (max-width: 400px) {
  .b-copirights__text {
    font-size: 10px;
  }
}
@media (max-width: 575.98px) {
  .b-copirights {
    line-height: 40px;
  }
}

body {
  font-family: "Lora Regular", "Georgia Regular", serif;
  color: #333;
  background: #1f1f1f;
  line-height: 1.25;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
}

.top-line {
  height: 5px;
  background-color: #81b300;
  margin: 0 -12px;
}

.container {
  background: #fff;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.properties {
  margin-top: 50px;
}
.properties_side-margin {
  margin-left: 12px;
  margin-right: 12px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .properties {
    row-gap: 20px;
    flex-wrap: wrap;
  }
}

.full-width-divider {
  height: 2px !important;
  background: #e2e2e2;
  margin: 48px 0 50px;
  border: none;
}

.projects {
  max-width: 902px;
  width: 100%;
  margin: 0 auto 44px;
}
.projects__list {
  gap: 18px;
  margin: 0 auto;
}
@media (max-width: 991.98px) {
  .projects {
    padding-left: 29px;
    padding-right: 29px;
  }
}
@media (max-width: 767.98px) {
  .projects {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 575.98px) {
  .projects {
    padding-left: 10px;
    padding-right: 10px;
  }
}