.b-footer {
  background: #484848;
  color: $lightColor;
  padding: 38px 20px 20px 16px;
  &__unit {
    @include media-breakpoint-only(md) {
      &:nth-child(n + 3) {
        margin-top: 30px;
      }
    }

    @include media-breakpoint-down(sm) {
      &:nth-child(n + 2) {
        margin-top: 30px;
      }
    }
  }
  &__unit-title {
    text-transform: uppercase;
    color: #666;
    margin-bottom: 22px;
    font-size: 13px;
    &_margin {
      margin-bottom: 17px;
    }
    &_blog,
    &_form {
      margin-bottom: 27px;
    }
    &_form {
      color: $lightestColor;
    }
  }
  &__unit-contact-desc {
    font-size: 12px;
    line-height: 175%;
    margin-bottom: 19px;
    letter-spacing: 0.05em;
  }
  &__unit-address {
    font-size: 12px;
    line-height: 158%;
    letter-spacing: 0.07em;
  }
  &__unit-nav {
    &-item {
      width: 100%;
      padding: 8px 0 7.3px;
      font-size: 12px;
      letter-spacing: 0.03em;
      border-bottom: 1px solid transparentize($lightColor, 0.8);
    }

    &-link {
      display: block;
      width: 100%;
      color: inherit;
      font-size: inherit;
      transition: all 0.4s ease 0s;
      @media (hover: hover) {
        &:hover {
          color: $majorColor;
          text-decoration: none;
          text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
        }
      }
      &:active {
        color: $lightestColor;
        transform: scale(0.95);
      }
    }
  }
}
