.b-login-nav {
  &__list {
    max-width: 253px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    display: inline-block;
    font-size: 12px;
    color: $majorColor;
    transition: all 0.4s ease 0s;
    font-family: "Lora Regular";
    @media (hover: hover) {
      &:hover {
        color: $darkColor;
        text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.7);
      }
    }
    &:active {
      transform: scale(0.9);
    }
  }
  &__divider {
    position: relative;
    color: $majorColor;
    font-size: 13px;
    position: relative;
    top: -1px;
    &:not(last-child) {
      left: 3px;
    }
  }
}
