.b-main-page-slider-wrp {
  padding: 31px 31px 71px 31px;
  background: #f2f2f2;
  @include media-breakpoint-down(sm) {
    padding: 12px 12px 71px 12px;
  }
  &_bottom-border {
    border-bottom: 1px solid lighten($lightColor, 30%);
  }
  &_cancel-padding {
    margin-left: -12px;
    margin-right: -12px;
  }
  &__slider {
    padding: 9px;
    background: $lightestColor;
    box-shadow: 0 0 1px lighten($lightColor, 30%);
  }
  &__bullets {
    position: absolute;
    bottom: -42px;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 156px;
    left: calc(50% - (156px / 2));
    justify-content: space-between;
  }
  &__left,
  &__right {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #333;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    transition: all 0.4s ease 0s;
    @media (hover: hover) {
      &:hover {
        transform: scale(1.2);
      }
    }
    &:active {
      transform: scale(0.8);
    }
  }
  &__bullet {
    background: #333;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    @media (hover: hover) {
      &:hover {
        background: transparent;
        outline: 2px solid #333;
      }
    }
    &:active {
      transform: scale(0.8);
    }
  }
}
