.b-project {
  &-wrapper {
    padding-left: 0;
    padding-right: 0;
    max-width: 212px;
    width: 100%;
    min-height: 336px;
    @include media-breakpoint-down(lg) {
      max-width: 48%;
    }
    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
  }
  &-wrapper_margin {
    &:nth-child(n + 3) {
      @include media-breakpoint-only(md) {
        margin-top: 30px;
      }
    }
  }
  &__image {
    width: 100%;
    min-height: 138px;
  }
  &__name {
    font-size: 14px;
    line-height: 143%;
    margin: 18px 0 8px 0;
  }
  &__desc {
    font-size: 13px;
    line-height: 162%;
    color: $lightColor;
    margin-bottom: 6px;
  }
  &__details {
    display: block;
    text-align: right;
    color: $majorColor;
    font-size: 13px;
    line-height: 162%;
    transition-duration: 0.5s;
    &:hover {
      color: $darkColor;
    }
  }
}
