@import "../../bootstrap/scss/functions";
@import "../../bootstrap/scss/variables";
@import "../../bootstrap/scss/mixins";
@import "_variables.scss";
@import "blocks/header.scss";
@import "blocks/logo-and-slogan.scss";
@import "blocks/socials.scss";
@import "blocks/login-nav.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-search.scss";
@import "blocks/main-page-slider.scss";
@import "blocks/property-unit.scss";
@import "blocks/project.scss";
@import "blocks/footer.scss";
@import "blocks/blog.scss";
@import "blocks/form.scss";
@import "blocks/copyrights.scss";

body {
  font-family: "Lora Regular", "Georgia Regular", serif;
  color: $darkColor;
  background: #1f1f1f;
  line-height: 1.25;
}

ul {
  list-style: none;
  padding: 0;
}
p {
  margin: 0;
}
a,
a:hover {
  text-decoration: none;
}
.top-line {
  height: 5px;
  background-color: $majorColor;
  margin: 0 -12px;
}
.container {
  background: #fff;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 30px;

  @include media-breakpoint-down(xs) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.properties {
  margin-top: 50px;
  &_side-margin {
    margin-left: 12px;
    margin-right: 12px;
  }
  @include media-breakpoint-only(md) {
    row-gap: 20px;
    flex-wrap: wrap;
  }
}
.full-width-divider {
  height: 2px !important;
  background: #e2e2e2;
  margin: 48px 0 50px;
  border: none;
}
.projects {
  max-width: 902px;
  width: 100%;
  margin: 0 auto 44px;
  &__list {
    gap: 18px;
    margin: 0 auto;
  }
  @include media-breakpoint-down(lg) {
    padding-left: 29px;
    padding-right: 29px;
  }
  @include media-breakpoint-down(md) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @include media-breakpoint-down(sm) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
